* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-nav-container {
    display: block;
    position: fixed;
    top: 0;
    left: 43%;
    width: 14%;
    height: 100%;
    /*background-color: #FFFF99;*/
    margin-top: 60px;
}

.header-nav {
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-conteiner {
    margin: 0;
    padding: 0;
}
.nav-list > li{
    text-align: center;

}
.nav-list > li:nth-child(2)::after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin: 0 auto;
    background-color: #4C5B5C;
}
.nav-list > li:nth-child(2)::before{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin: 0 auto;
    background-color: #4C5B5C;
}
.nav-list > li > a {
    text-decoration: none;
    color: #222222;
    font: 400 15px/2 "Raleway", sans-serif;
}
.nav-list > li > a > img{
    margin: 20px 0;
}
.container-col-left {
    width: 43%;
    float: left;
}

.col-left, .col-right {
    width: 85%;
    height: 100%;
    /*background-color: lightcyan;*/
    margin: 60px 0;
}

.col-left {
    float: right;
}
.col-left-list, .col-right-list{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.col-left-list{
    float: left;

}
.col-right-list{
    float: right;
}
.col-left-list > li > a > img{
    width:230px;
    height: 207px;
    padding-right: 5px;
}
.col-left-list > li > a > img::hover{
	background-image: url()
}
.col-right-list > li > a > img{
    width:230px;
    height: 207px;
}

.container-col-right {
    width: 43%;
    float: right;
}

.col-right {
    float: left;
}

.article{
	margin:0;
	padding:0;
}
.article > a{
	text-decoration: none;
    color: #222222;
    font: 400 15px/2 "Raleway", sans-serif;
}

.article > a > img{
	width:100%;
}
.article > h4{
	margin:9px 0;
	padding:0;
	font:700 17px/1.5 "Raleway", sans-serif;
	color: #222222;
}
.article > p{
	margin:0;
	padding:0;
	font:500 15px/1.8 "Raleway", sans-serif;
	color: #222222;
}

.article-list{
	padding:0 0 15px 0;
	list-style: none;
	float: left;
	border-bottom: 1px dotted #4C5B5C;
	width: 100%;
	margin-bottom: 50px;
}
.article-list > li{
	display: inline-block;
	font:400 13px/1 "Raleway", sans-serif;
}
.article-list > li > a{
	text-decoration: none;
    color: #222222;
    font:400 13px/1 "Raleway", sans-serif;
}





@media all and (max-width:800px){
	.header-nav-container {
    display: block;
    position: relative;
    top: 0;
    /*left: 43%;*/
    /*width: 14%;*/
    height: 100%;
    /*background-color: #FFFF99;*/
    margin-top: 60px;
}

.header-nav {
}

.nav-list {
	display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-conteiner {
    margin: 0;
    padding: 0;
}
.nav-list > li{
	display: inline-block;
    text-align: center;

}

.nav-list > li > a {
	display: inline-block;
    text-decoration: none;
    color: #222222;
    font: 400 15px/2 "Raleway", sans-serif;
}
.nav-list > li > a > img{
    margin: 20px 0;
}
.container-col-left {
    /*width: 43%;
    float: left;*/
}

.col-left, .col-right {
    /*width: 85%;*/
    height: 100%;
    /*background-color: lightcyan;*/
    margin: 60px 0;
}

.col-left {
  /*  float: right;*/
}
.col-left-list, .col-right-list{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.col-left-list{
    float: left;

}
.col-right-list{
    float: right;
}
.col-left-list > li > a > img{
    width:230px;
    height: 207px;
    padding-right: 5px;
}

.col-right-list > li > a > img{
    width:230px;
    height: 207px;
}

.container-col-right {
    /*width: 43%;
    float: right;*/
}

.col-right {
    /*float: left;*/
}

.article{
	margin:0;
	padding:0;
}
.article > a{
	text-decoration: none;
    color: #222222;
    font: 400 15px/2 "Raleway", sans-serif;
}

.article > a > img{
	width:100%;
}
.article > h4{
	margin:9px 0;
	padding:0;
	font:700 17px/1.5 "Raleway", sans-serif;
	color: #222222;
}
.article > p{
	margin:0;
	padding:0;
	font:500 15px/1.8 "Raleway", sans-serif;
	color: #222222;
}

.article-list{
	padding:0 0 15px 0;
	list-style: none;
	float: left;
	border-bottom: 1px dotted #4C5B5C;
	width: 100%;
	margin-bottom: 50px;
}
.article-list > li{
	display: inline-block;
	font:400 13px/1 "Raleway", sans-serif;
}
.article-list > li > a{
	text-decoration: none;
    color: #222222;
    font:400 13px/1 "Raleway", sans-serif;
}































